<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="css/style.css">

  <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />

  <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="js/sse.js"></script>
    
</head>

<body>

  {{{body}}}

  <script>
    $('.leaflet-control-attribution,.leaflet-control-container').hide();
    onResize = function() {
	   var pageheight = $('html').outerHeight();
	   $('#map').css('height', pageheight)
    }
    $(document).ready(onResize);
    $(window).bind('resize', onResize);
  </script>

</body>
</html>
